In [ ]:
##import all libraries

import pandas as pd
import numpy as np


import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
print(train.shape)
print(test.shape)

(60000, 785)
(5000, 785)

In [4]:
X_train = (train.iloc[:,1:].values).astype('float32') # all pixel values
Y_train = train.iloc[:,0].values.astype('int32') # only labels i.e targets digits
X_test = test.values.astype('float32')

In [6]:
train

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
## Data visulaization

In [ ]:
#Convert train datset to (num_images, img_rows, img_cols) format 
X_train = X_train.reshape(X_train.shape[0], 28, 28)

for i in range(6, 9):
    plt.subplot(330 + (i+1))
    plt.imshow(X_train[i], cmap=plt.get_cmap('gray'))
    plt.title(Y_train[i]);

#### removed the first column from the test dataset has it was id and it was not required in the column , id is similar to label.

In [ ]:
X_test = test.iloc[:,1:].values.astype('float32')

In [ ]:
X_test.shape

In [ ]:
# setting up the channel to be grayscale for all

X_train = X_train.reshape(X_train.shape[0], 28, 28,1)
X_test = X_test.reshape(X_test.shape[0], 28, 28,1)

##### .reshape(height width and dimension) here last 1 is for greyscale and 3 is for rgb colors

In [ ]:
### Preprocessing the digits

### feature standardization.

Its an important step to setup all digits to have mean zero and variance as 1.

In [ ]:
avg = X_train.mean().astype('float32')
sd = X_train.std().astype('float32')


def standardize(data):
    return (data-avg)/sd

In [ ]:
#X_train = standardize(X_train)

## one hot encoding

Important learning here this makes it easy to know what digit it is.

### Definition:

A one-hot vector is a vector which is 0 in most dimensions, and 1 in a single dimension. In this case, the nth digit will be represented as a vector which is 1 in the nth dimension.

For example, 3 would be [0,0,0,1,0,0,0,0,0,0].

In [ ]:
from keras.utils.np_utils import to_categorical
Y_train= to_categorical(Y_train)
num_classes = Y_train.shape[1]
num_classes

In [ ]:
plt.title(Y_train[9])
plt.plot(Y_train[9])
plt.xticks(range(10));

In [ ]:
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.datasets import load_digits
digits = load_digits()

In [ ]:
digits.shape

In [ ]:
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
n_samples = len(digits.images)
data = digits.images.reshape((n_samples, -1))

In [ ]:
data.shape

In [ ]:
X_train.shape

In [ ]:
X_train

### Desgining neural network

In [ ]:
## fixing a random seed.

np.random.seed(123)

## Simple model

In [ ]:
from keras.models import  Sequential
from keras.layers.core import  Lambda , Dense, Flatten, Dropout
from keras.callbacks import EarlyStopping
from keras.layers import BatchNormalization, Convolution2D , MaxPooling2D